.Movie-Container {
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0 auto;
    overflow: scroll;
    padding: 10px;
    position: relative;
    top: 265px;
    width: 100%;
}