.Movie-Container {
  background-color: black;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: space-evenly;
  margin: 0 auto;
  overflow: scroll;
  padding-bottom: 50px;
  position: absolute;
  top: 176px;
  width: 100%;
}

.no-favs {
  color: white;
  flex-direction: column;
  justify-content: start;
  text-align: center;
}

.spinner {
  height: 200px;
  margin-top: 25vh;
}

.walter {
  margin: 25vh auto 20px auto;
  width: 25%;
}
