.Header {
  background-color: silver;
  height: 190px;
}

.coen-collection {
  color: white;
  background: url("../../images/wood.jpg");
  font-size: 160px;
  font-weight: bold;
  text-align: center;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
