.Header {
  background-color: #e8e8e8;
  height: 120px;
}

.coen-collection {
  color: white;
  background: url("../../images/wood.jpg");
  font-size: 100px;
  font-weight: bold;
  text-align: center;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media screen and (max-width: 800px) {
  .coen-collection {
    font-size: 70px;
    padding-top: 20px;
  }
}

@media screen and (max-width: 500px) {
  .coen-collection {
    font-size: 50px;
    padding-top: 40px;
  }
}

@media screen and (max-width: 400px) {
  .coen-collection {
    font-size: 40px;
  }
}