.Movie {
  background-color: black;
  border-radius: 40px;
  height: 390px;
  position: relative;
  margin: 20px;
  width: 260px;
}

.movie-details,
.movie-poster {
  border-radius: 30px;
  height: 390;
  width: 260px;
}

.movie-details {
  background-image: linear-gradient(grey, white);
  height: 390px;
  line-height: 1.2;
  overflow: scroll;
  text-align: center;
}

.movie-date {
  margin: 20px;
}

.text-wrapper {
  margin: 10px auto;
  padding: 20px 0;
  width: 230px;
}

.fa-star {
  background-color: black;
  border: 2px solid white;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  left: 225px;
  padding: 10px;
  position: absolute;
  top: -5px;
  z-index: 10;
}

.fa-star:hover {
  background-color: lightgrey;
  border: 2px solid red;
  color: red;
  transition: all 0.4s ease-in-out;
}

.favorited {
  border: 2px solid transparent;
  background-color: #e8e8e8;
  color: red;
}
