.Movie {
  background-color: black;
  border-radius: 40px;
  height: 390px;
  margin: 16px;
  width: 260px;
}

.movie-details,
.movie-poster {
  border-radius: 30px;
  cursor: pointer;
  height: 390;
  opacity: 0.9;
  width: 260px;
}

.movie-details {
  background-image: linear-gradient(silver, white);
  border: 7px solid silver;
  height: 390px;
  line-height: 1.2;
  text-align: center;
}

.movie-details:hover,
.movie-poster:hover {
  display: block;
  opacity: 1;
  position: relative;
}

.movie-details:hover {
  opacity: 0.9;
  overflow: scroll;
}

.movie-date {
  margin: 10px;
}

.text-wrapper {
  margin: auto;
  padding: 20px 0;
  width: 230px;
}

.fa-star {
  background-color: black;
  border: 2px solid white;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  left: 230px;
  padding: 10px;
  position: relative;
  top: 30px;
  z-index: 10;
}

.fa-star:hover {
  background-color: #e8e8e8;
  border: 2px solid red;
  color: red;
  transition: all 0.4s ease-in-out;
}

.favorited {
  background-color: #e8e8e8;
  color: black;
}
